@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

@font-face {
    font-family: 'icons';
    src:  url('../fonts/icons.eot?tmvuf0');
    src:  url('../fonts/icons.eot?tmvuf0#iefix') format('embedded-opentype'),
      url('../fonts/icons.ttf?tmvuf0') format('truetype'),
      url('../fonts/icons.woff?tmvuf0') format('woff'),
      url('../fonts/icons.svg?tmvuf0#icons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icons' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-humidity:before {
    content: "\e900";
  }
  .icon-pressure:before {
    content: "\e901";
  }
  .icon-temp:before {
    content: "\e902";
  }
  .icon-wind:before {
    content: "\e903";
  }
  