.button {
    padding: 0 18px;
    border-radius: 30px;
    border: none;
    background: $coral;
    color: #fff;
    cursor: pointer;
    &_active {
        opacity: 1 !important;
        visibility: visible !important;
    }
}