.daylength-info {
    width: 392px;
    height: 395px;
    flex-shrink: 0;
    @media (max-width: 991.98px) {
        width: 320px;
    }
    @media (max-width: 767.98px) {
        width: 100%;
        margin-bottom: 20px;
    }
    &__img {
        display: block;
        margin: 50px auto 0 auto;
        width: 100%;
        max-width: 350px;
    }
    &__inner {
        margin: 10px auto 0 auto;
        width: 100%;
        max-width: 350px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__time {
        flex: 0 0 50%;
        padding: 0 15px;
        font-size: 18px;
    }
    &__time_sunrise {
        text-align: left;
        color: $coral;
    }
    &__time_sunset {
        text-align: right;
        color: $purple;
    }
    &__duration {
        flex: 0 0 100%;
        margin-top: 30px;
        text-align: center;
        font-size: 18px;
        span {
            font-size: 18px;
            font-weight: 300;
            line-height: 150%;
            color: $coral;
        }
    }
}