.daylength-photo {
    position: relative;
    padding: 0;
    width: 100%;
    height: 395px;
    margin-left: 35px;
    background-image: url("../img/01n-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    p {
        position: absolute;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 12px;
        font-weight: 300;
        color: rgba(255,255,255, 0.5);
        letter-spacing: 1px;
        @media (max-width: 575.98px) {
            font-size: 10px;
        }
    }
    @media (max-width: 767.98px) {
        margin-left: 0;
    }
    @media (max-width: 575.98px) {
        height: 340px;
    }
}