@import "base/fonts";
@import "base/variables";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: $text-color;
}

body {
	// background: url('../img/bg.jpg') center (center / cover) no-repeat;
}

.container {
	max-width: 1110px;
	margin: 0 auto;
	@media (max-width: 1130px) {
		max-width: 970px;
	}
	@media (max-width: 991.98px) {
		max-width: 750px;
	}
	@media (max-width: 767.98px) {
		max-width: none;
		padding: 0 10px;
	}
}

.disN {
	display: none;
}

@import "blocks/button";
@import "blocks/info-block";
@import "blocks/header";
@import "blocks/search";
@import "blocks/weather";
@import "blocks/forecast";
@import "blocks/forecast-daily";
@import "blocks/forecast-weekly";